/.vscode
/2D_Array.c
/2D_Array.exe
/Alloperators.c
/Alloperators.exe
/armstrongnumber.exe
/array1.c
/array1.exe
/bank.c
/bank.exe
/continue0_1array.c
/continue0_1array.exe
/fibonacciserieseloops.c
/fibonacciserieseloops.exe
/findwordinstring.c
/findwordinstring.exe
/GCD.c
/GCD.exe
/geometric_series.c
/geometric_series.exe
/minmaxnumber.c
/minmaxnumber.exe
/palindrome.c
/palindrome.exe
/primenumber.c
/primenumber.exe
/reversearray.c
/reversearray.exe
/reversenumberloops.c
/reversenumberloops.exe
/secoundminmaxarray.c
/secoundminmaxarray.exe
/string1.c
/string1.exe
/stringpalindrome.c
/stringpalindrome.exe
/structure.c
/STRUCTURE_1_.C
/STRUCTURE_1_.exe
/sum2numberARRAY.c
/sum2numberARRAY.exe
/SUM_row_coloum.c
/SUM_row_coloum.exe
/switchcase.c
/switchcase.exe
/word_count_.c
/word_count_.exe